.card {
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px #2a2b2e;
    border: 0px solid rgba(0,0,0,0);
    background-color: #3D4044;
    color:aliceblue;
    font-family: Montserrat, sans-serif;
    height: 100%;
}

.card:hover {
    background: #f889bb35; 
}

.delete-board {
    width: 35px;
    height: auto;
    background-color: transparent;
    margin-right: 5vh;
}

.card h5 {
    font-size: 1rem;
}

.card h6 {
    font-size: 0.8rem;
}

.card p {
    font-size: 1rem;
}

.boardTitle {
    text-align: center;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.add-board, .add-board:focus, .add-board:active {
    box-shadow: 2px 2px 7px #2a2b2e;
    border: 0px solid rgba(0,0,0,0);
    background-color: #3D4044;
    color:aliceblue;
    font-family: Montserrat, sans-serif;
    border-style: outset;
    outline: 0px !important;
    border: none;
}

btn:active, btn:focus btn:visited {
    outline-color: transparent;
    outline: none;
    box-shadow: none;
    border: 0px solid rgba(0,0,0,0);
}


.add-board:hover {
    background-color: rgba(60, 61, 63, 0.797);
}

.tag-row {
    padding-left: 0px;
    margin-left: calc(var(--bs-gutter-x) * 0.5) !important;
    margin-bottom: 10px;
}

.color-pink {
    background-color: rgba(239,121,138,0.6);
}

.color-purple {
    background-color: rgba(145, 78, 184, 0.6);
}

.color-blue {
    background-color: rgba(113, 128, 185, 0.6);
}

.color-teal {
    background-color: rgba(11, 113, 137, 0.6);
}

.tag-color{
    padding: 2px 6px;
    border-radius: 8px;
    margin-right: 6px;
    font-size: 14px;
    word-wrap: normal;
    width: -webkit-min-content;
    width: -moz-fit-content;
    height: -webkit-min-content;
    white-space:nowrap;
}
