body {
    background-color: #2D3035;
}

.workspace-name {
    color: #F7C4DB;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 5vh;
    /* text-shadow: 2px 29px #2D3035; */
}
