    /* Rectangle 10 */
    
    .cat-square{
        position: absolute;
        /* width: 161px;
        height: 105px;
        left: 79px;
        top: 598px; */
        width: 161px;
        height: 105px;
        left: 200px;
        top: 200px;
        
        background: #3D4044;
        border-radius: 15px;
        filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.1));
    }
    
    
    /* Vector 1 */
    .cat-ear1{
        position: absolute;
        /* width: 16px;
        height: 12px;
        left: 198px;
        top: 586px; */
        width: 16px;
        height: 12px;
        left: 321px;
        top: 188px;
        border-bottom: 20px solid #3D4044;
        border-left: 4px solid transparent;
        border-right: 18px solid transparent;
        height: 0;
        width: 3px;
        /* background: #3D4044; */
        transform: matrix(-1, 0, 0, 1, 0, 0);
        filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.1));
    }
    
    
    /* Vector 2 */
    .cat-ear2{
        position: absolute;
        /* width: 16px;
        height: 12px;
        left: 98px;
        top: 586px; */
        width: 16px;
        height: 12px;
        left: 217px;
        top: 188px;
        
        /* background: #3D4044; */
        border-bottom: 20px solid #3D4044;
        border-left: 4px solid transparent;
        border-right: 18px solid transparent;
        height: 0;
        width: 3px;
        filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.1));
    }
