body {
    background-color: #2D3035;
}

.col-title{
    color: #FFFFFF; 
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.workspace-name {
    color: #F7C4DB;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.card-counter {
    color: #FFFFFF;
    opacity: 0.55;
    font-size: 15px;
}

.x-button {
    color: #FFFFFF;
    opacity: 0.55;
    justify-content: flex-end;
    margin-top: 0px; 
    padding-top: 0px;
}

.p-button {
    justify-content: end;
}

.x-button:hover {
    color: #F7C4DB;
    opacity: 1;
    transition: 0.6;
}

.to-do-col {
    margin-bottom: 2px;
    border: #F7C4DB;
}